@model _3101_tarea1_mvc.Models.Estudiante

@{
    ViewData["Title"] = "Modificar estudiante " + @Html.DisplayNameFor(model => model.id);
}

<h1>Modificar estudiante</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="primerApellido" class="control-label">Primer Apellido</label>
                <input asp-for="primerApellido" class="form-control" />
                <span asp-validation-for="primerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="segundoApellido" class="control-label">Segundo Apellido</label>
                <input asp-for="segundoApellido" class="form-control" />
                <span asp-validation-for="segundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimiento" class="control-label">Fecha de Naciemiento</label>
                <input asp-for="fechaNacimiento" class="form-control" />
                <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaIngreso" class="control-label">Fecha de Ingreso</label>
                <input asp-for="fechaIngreso" class="form-control" />
                <span asp-validation-for="fechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
